.product{
  padding: 105px 0 115px;
  text-align: center;
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 45px 30px;
    margin-bottom: 55px;
  }
  &__link{
    text-transform: uppercase;
    color: $title;
    display: inline-block;
    border: 1px solid $accent;
    padding: 14px 27px;
    letter-spacing: 2px;
  }
}

.product-item{
  text-align: center;
  max-width: 370px;
  &.product-item--list{
    min-width: 100%;
    display: flex;
    &:hover{
      .product-item__link-box{
        transform: translateY(-280%);
      }
    }
    .product-item__img-box::before{
      display: none;
    }
    .product-item__img-box{
      height: 250px;
      min-width: 200px;
      margin-bottom: 0;
      img{
        height: 250px;
      }
    }
    .product-item__link-box{
      width: 115px;
      background-color: transparent;
      box-shadow: none;
      bottom: auto;
      .product-item__link{
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .product-item__link--line{
        display: none;
      }
    }
    .product-item__content-box{
      display: block;
    }
    .product-item__box{
      display: flex;
      flex-wrap: wrap;
    }
    .product-item__title{
      width: 100%;
      order: -1;
      padding: 0;
      margin-bottom: 10px;
    }
    .product-item__price{
      order: -1;
      margin-bottom: 15px;
    }
    .product-item__new-price{
      padding-left: 0;
    }
    .star{
      margin-left: 40px;
    }
    .product-item__wrapper-box{
      padding: 20px 40px;
      border: 1px solid #ececec;
      border-left: none;
      text-align: left;
    }
    .product-item__btn{
      margin-top: 20px;
      @extend %btn;
      border: none;
      text-transform: none;
      padding: 13px 35px;
      background-color: #29282d;
      box-shadow: none;
      transition: all .5s;
      &:hover{
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
        background-color: $accent;
      }
    }
  }
  &__content-box{
    display: none;
  }
  &:hover .product-item__link-box{
    transform: translateY(0);
  }
  &__img-box{
    overflow: hidden;
    position: relative;
    height: 370px;
    margin-bottom: 30px;
  }
  &__link-box{
    position: absolute;
    left: 0;
    right: 0;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    bottom: 50px;
    background-color: #fff;
    box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(300px);
    transition: all .5s;
  }
  &__link{
    display: inherit;
    path{
      transition: all .5s;
    }
  }
  &__link:hover{
    path{
      fill: $accent;
    }
  }
  &__link--line::before,
  &__link--line::after{
    content: '';
    position: absolute;
    background-color: #ececec;
    width: 1px;
    height: 30px;
    top: 10px;
  }
  &__link--line::before{
    left: 70px;
  }
  &__link--line::after{
    right: 70px;
  }
  &__images{
    object-fit: cover;
  }
  &__title{
    color: $title;
    font-size: 22px;
    padding: 15px 0;
  }
  &__price{
    display: flex;
    justify-content: center;
    @extend %rob-med;
  }
  &__new-price{
    padding: 0 12px;
    color: $title;
  }
  &__old-price{
    padding: 0 12px;
    color: #d1d1d3;
    text-decoration: line-through;
  }
  &--sale{
    .product-item__img-box::before{
      content: 'SALE';
      position: absolute;
      @extend %btn;
      cursor: unset;
      padding: 3px 10px;
      top: 25px;
      left: 25px;
    }
  }
}

@media (max-width: 1050px){
  .product-item{
    &__img-box{
      height: 305px;
    }
  }
}

@media (max-width: 860px){
  .product{
    &__items{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
  }
}

@media (max-width: 620px){
  .product{
    padding: 40px 0;
    &__items{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
    }
    &__item{
      max-width: 100%;
    }
  }
  .product-item{
    max-width: 100%;
    &__images{
      width: 100%;
    }
  }
}