.blog{
  padding: 50px 0 165px;
  background-image: url('../images/decor/blog-bg.svg');
  background-repeat: no-repeat;
  background-position: center center;
  &__items{
    display: flex;
    justify-content: space-between;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/decor/blog-items-bg.svg');
      width: 126px;
      height: 53px;
      top: -28px;
      right: -22px;
      z-index: -1;
    }
  }
  &__item{
    max-width: 370px;
    border: 1px solid #ececec;
    transition: all .5s;
    &:hover{
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      border: 1px solid transparent;
      .blog__item-link{
        color: $accent;
        &::after{
          background-image: url('../images/icons/arrow-blog-hover.svg');
        }
      }
      .blog__item-imglink{
        img{
          transform: scale(1.2);
        }
      }
    }
  }
  &__item-imglink{
    display: block;
    overflow: hidden;
    img{
      transition: all .5s;
      height: 280px;
      object-fit: cover;
      width: 100%;
    }
  }
  &__item-content{
    padding: 25px 40px;
  }
  &__item-titlelink{
    @extend %rob-reg;
    font-size: 22px;
    color: $title;
    display: block;
    margin-bottom: 15px;
  }
  &__item-link{
    padding-right: 17px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-blog.svg');
      width: 10px;
      height: 8px;
      right: 0;
      top: 7px;
    }
  }
}

.blog-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  &__author,
  &__date{
    padding-left: 30px;
    position: relative;
  }
  &__author::before,
  &__date::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 2px;
  }
  &__author::before{
    background-image: url('../images/icons/user-blog.svg');
  }
  &__date::before{
    background-image: url('../images/icons/date.svg');
  }
}